body {
  margin: 0;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: arial, helvetica, sans-serif;
}

.calculator {
  background-color: #c0c0c0;
  padding: 20px;
  border-radius: 12px;
  width: 450px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 70px;
  gap: 10px; 
  margin-top: 20px;
}

.btn {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #3a3a3a;
  color: white; 
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn:hover {
  background-color: #505050;
}

.screen {
  text-align: right;
  margin-bottom: 50px;
}

.previous {
  color: #788bac
}

.current {
  font-size: 40px;
  font-weight: bold;
}

.span-2 {
  grid-column: span 2;
}

.equal {
  grid-row: span 2;
  background-color: #2e5aa7;
}

.color {
  background-color: #7c7c7c;
}

